.contenedor_page{
  height: 100vh;         
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: cambio_Foto 55s infinite;
}
.subtitulo{
  
  text-align: center;
  width: 800px;
  height: 80px;
}
.input{
  display: none;
}
.background{
  height: 100vh;         
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: cambio_Foto 55s infinite;
}
@keyframes cambio_Foto {
  0%, 20%{
    background-image: url("../../components/fondo_estudiante/imag_valparaiso.jpg");
  }
  20%, 40%{
    background-image: url("../../components/fondo_estudiante/imagen_2.jpg");
  }
  40%, 60%{
    background-image: url("../../components/fondo_estudiante/imagen_3.jpg");
  }
  60%, 80%{
    background-image: url("../../components/fondo_estudiante/imagen_4.jpg");
  }
  80%, 100%{
    background-image: url("../../components/fondo_estudiante/imagen_5.jpg");
  }
}